*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.qr-container{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.qr-card{
    max-width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 1.2rem;
}

img{
    max-width: 100%;
    border-radius: .5rem;
}


h1{
    font-size:  1.1rem;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin: 1rem .5rem 1rem;

}

p{
    font-size:  0.9375rem;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: 1rem .6rem .5rem;
}